venv/
.env
__pycache__/
*.py[cod]
*$py.class
.vscode/
.idea/
storage/
logs/
old_version/
.DS_Store
Thumbs.db
desktop.ini
models/
.cache/
old_verison/
node_modules/
frontend/
frontend_old/
build/
dist/
.env
app.log